html, body, header, img, nav, ul, li, aside, figure, section, h1, h2, p {
    margin: 0;
    padding: 0;
    border: 0;

    font: inherit;
    text-align: inherit;
    text-decoration: inherit;

    
}

body {
    line-height: 1.5;
}

ul {
    list-style: none;
}

img {
    width: inherit;
}
figure {
    width: 300px;
}