<div class="masthead">
<nav class="language-nav">
    <ul>
      
        <a>HTML</a>
        <a>CSS</a>
        <a>Ruby</a>
        <a>Javascript</a>
    </ul>
</nav>

<img class="logo" src="/assets/AA_Times_Logo.png" />

<nav>
    <ul class="masthead-links">
        <li>
        Tuesday, October 18, 2016     
        </li>
        <li>
        <i class="far fa-newspaper"></i>
        Today’s Paper
        </li>
        <li>
        <i class="fas fa-video"></i>
        Video
        <li>
        77°F
        </li>
        <li>
        AAO
        <button type="button">+100%</button>
        </li>
        
    </ul>
</nav>
</div>