<ul id="sections-sidebar" class="sections-sidebar expand" >
    <ul><li>World</li></ul>
    <ul><li>San Francisco</li></ul>
    <ul><li>New York</li></ul>
    <ul><li>Bootcamp Prep</li></ul>
    <ul><li>Jumpstart</li></ul>
    <ul><li>Online</li></ul>
    <ul><li>Marketing</li></ul>
    <ul><li>Sales</li></ul>
    <ul><li>TalentMatch</li></ul>
    <ul><li>Alumni</li></ul>
    <ul><li>
    <a href="#">All</a>
    </li>
</ul>